.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron-help {
	background-image: url('book.jpg');
    height: 472px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-help .container {
  position: relative;
  top:30px;
}

.jumbotron-help h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron-help p {
  color: #fff;
  font-size: 21px;  
  font-family: 'Shift', sans-serif;
}

.jumbotron {
    /*background-image:url('http://goo.gl/04j7Nn');*/
    /*background-image: url('http://www.toptenz.net/wp-content/uploads/2015/01/citystats6.jpg');*/
	background-image: url('Books.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p{
    font-size: 15px;
    margin-bottom: 13px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.row .col-md-4 .thumbnail {
    font-family: Verdana;
    text-align: center;
}

#loginForm {
    text-align: center;
}

.simpleTable{
    border-collapse: collapse;
    width: 70%;
    height: 60px;
}
.str {
    border: 1px solid black;
    text-align: center;
}