@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  /*src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff") format("woff"); */
  src: url("shift.woff") format("woff")
}
@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  /*src: url("http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift-bold.woff") format("woff");*/
  src: url("shift-bold.woff") format("woff")
}